<div>
  <nav class="nav">
    <div class="nav-wrapper">
      <div class="input-field">
        <input [(ngModel)]="buscar" type="search" id = "search" class="validate" (input)="Buscar()" (focus)="quitarTexto()" (blur)="restaurarTexto()" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <span *ngIf="!buscar && !campoEnfocado" class="buscar-texto">Buscar</span>
      </div>
    </div>
  </nav>
</div>


<div class="container">
  <div class="cajita" *ngFor="let producto of productos">
    <div class="card">
      <div class="card-image">
        <img [src]="'../../../assets/images/' + seleccionarImagen(producto.idCategoria)" alt="Imagen del producto">
        <span *ngIf="producto.descuento<1" class="oferta-etiqueta card-title">Oferta</span>
      </div>
      <div class="card-content">
        <h5>{{producto.nombre}}</h5>
        <p *ngIf="producto.descuento <1"> Descuento disponible {{producto.descuento*100}}%</p>
        <p *ngIf="producto.descuento <1">A tan sólo  ${{producto.precio *producto.descuento}}</p>
        <p *ngIf="producto.descuento==1">${{producto.precio}}</p>
        <p>{{producto.descripcion}}</p>
      </div>
      <div class="card-action">
        <a *ngIf="producto.stock > 0" href="javascript:void(0)" (click)="agregarProducto(producto.idProducto)">Agregar al carrito</a>
        <h6 *ngIf="producto.stock == 0">Agotado</h6>
      </div>
    </div>
  </div>
  <div class="sin_e" *ngIf="productos.length == 0" style="text-align: center;">
    <br>
    <img src="../../../assets/images/no-product.png">
  </div>
</div>


<div class="container">
  <div class="carousel">
    <a class="carousel-item"><img src="../../../assets/images/img1.png" width=1000px height=300px></a>
    <a class="carousel-item"><img src="../../../assets/images/img2.png" width=1000px height=300px></a>
    <a class="carousel-item"><img src="../../../assets/images/img3.png" width=1000px height=300px></a>
    <a class="carousel-item"><img src="../../../assets/images/img4.png" width=1000px height=300px></a>
    <a class="carousel-item"><img src="../../../assets/images/img5.png" width=1000px height=300px></a>
  </div>
</div>

<




