
.cajita{
    width: 300px;
    float: left;
    margin: 10px;
    text-align: center;

}   

.contenedor{
    width: 80%;
    margin: 0 auto;
}

.barra{
    width: 500px;
    position: absolute;
    left: 20%;
    top:0%;
}

.input-field{
    background-color: rgb(32, 112, 0);
}
