<div >
    <div class="login">
        <div class="titulo">
            <span>Log in</span>
        </div>
        <br>
        <div class="row">
            <div class="input-field col s10">
                <i class="material-icons prefix">email</i>
                <input id="email" type="text" class="validate" [(ngModel)]="login.correo" name="idProducto">
                <label for="email" class="active">Emal</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <i class="material-icons prefix">vpn_key</i>
                <input id="password" type="password" class="validate" [(ngModel)]="login.password" name="h1">
                <label for="password" class="active">Password</label>
            </div>
        </div>
        <a class="waves-effect waves-light btn"  (click)="logueo()"><i class="material-icons left">send</i>Log in</a>
        <p>Don't have an account?</p>
        <a href="nuevoUsuario">Create an account </a>
    </div>
</div>



