

.login{
    width: 300px;
    height: 500px;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.titulo{

    font-size: 20px;
    font-weight: bold;
    color: #000;
}

