<div class="contenedor">
    <h1>Sales report</h1>
</div>
<div class="container">
    <div class="calendario">
        <span clas>Start date</span>
        <input type="text" class="datepicker" id="inicio">
    </div>
    <div class="calendario">
        <span>End date</span>
        <input type="text" class="datepicker" id="fin">
    </div>

    <div class="calendario">
        <div class="boton">
            <a  class="waves-effect waves-light btn" (click)="buscar()"><i class="material-icons left">search</i>Search</a>
    </div>
</div>
<div class="container">
<table class="default" *ngIf="ventas != undefined && estados!=undefined">
    <tr>
        <th>Id</th>
        <th>Purchase date</th>
        <th>Total</th>
        <th>State</th>

    </tr>
    <tr *ngFor="let venta of ventas;let i=index">
        <ng-container *ngIf="estados[i]">
        <td><a>{{venta.idCompra}}</a></td>
        <td><a>{{venta.fecha |date:'yyyy-MM-dd'}}</a> </td>
        <td><a>{{venta.monto}}</a> </td>

        <td><a >{{estados[i].nombre}}</a></td>
        <th>
            <a class="waves-effect waves-light btn" (click)="verDetalles(venta.idCompra,venta.idCliente)">See details</a>
        </th>
        </ng-container>
    </tr>
</table>


<!-- Modal Trigger -->
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Purchase details</h4>
    <table class="default" *ngIf="productos != undefined && pedidos!=undefined">
        <tr>
            <td>Name </td>
            <td>Quantity </td>
            <td>Subtotal</td>
        </tr>
        <tr *ngFor="let producto of productos,let i=index">
            <td>{{producto.nombre}}</td>
            <td>{{pedidos[i].cantidadProducto}}</td>
            <td>${{pedidos[i].subtotal}}</td>
        </tr>
        <tr>
            <td>Customer:{{cliente.nombre}}</td>
        </tr>
      </table>
  </div>
  <div>

  </div>
  <div class="modal-footer">
    <a  class="modal-close waves-effect waves-green btn-flat" >Ok </a>
  </div>
</div>