<div class="contenedor">
    <h1>Reporte de ventas</h1>
</div>
<div class="container">
    <div class="calendario">
        <span clas>Fecha de inicio</span>
        <input type="text" class="datepicker" id="inicio">
    </div>
    <div class="calendario">
        <span>Fecha de fin</span>
        <input type="text" class="datepicker" id="fin">
    </div>

    <div class="calendario">
        <div class="boton">
            <a  class="waves-effect waves-light btn" (click)="buscar()"><i class="material-icons left">search</i>Buscar</a>
    </div>
</div>
<div class="container">
<table class="default" *ngIf="ventas != undefined && estados!=undefined">
    <tr>
        <th>ID Compra</th>
        <th>Fecha de compra</th>
        <th>Total</th>
        <th>Estado</th>

    </tr>
    <tr *ngFor="let venta of ventas|
    paginate: {
    itemsPerPage: pageSize,
    currentPage: p
    };let i=index">
        <ng-container *ngIf="estados[i]">
        <td><a>{{venta.idCompra}}</a></td>
        <td><a>{{venta.fecha |date:'yyyy-MM-dd'}}</a> </td>
        <td><a>{{venta.monto}}</a> </td>

        <td><a >{{estados[i].nombre}}</a></td>
        <th>
            <a class="waves-effect waves-light btn" (click)="verDetalles(venta.idCompra,venta.idCliente)">Detalles</a>
        </th>
        </ng-container>
    </tr>
</table>
<div class="row center-align">
    <pagination-controls class="my-pagination" (pageChange)="p = ($event)"
    previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
    </div>


<!-- Modal Trigger -->
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Datos de la compra</h4>
    <table class="default" *ngIf="productos != undefined && pedidos!=undefined">
        <tr>
            <td>Nombre </td>
            <td>Cantidad </td>
            <td>Subtotal</td>
        </tr>
        <tr *ngFor="let producto of productos,let i=index">
            <td>{{producto.nombre}}</td>
            <td>{{pedidos[i].cantidadProducto}}</td>
            <td>${{pedidos[i].subtotal}}</td>
        </tr>
        <tr>
            <td>Cliente:{{cliente.nombre}}</td>
        </tr>
      </table>
  </div>
  <div>

  </div>
  <div class="modal-footer">
    <a  class="modal-close waves-effect waves-green btn-flat" >Aceptar </a>
  </div>
</div>