<div class="contenedor">
  <div><h5 class="center">Modificar usuarios</h5><br></div>
  <table class="default" *ngIf="usuarios != undefined">
      <tr>
          <th class="center">Foto de perfil</th>
          <th class="center">Nombre</th>
          <th class="center">Usuario</th>
          <th class="center">Correo</th>
          <th class="center">Editar información</th>
          <th class="center">Nueva imagen</th>
      </tr>
      <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: pageSize, currentPage: p }; let i=index">
        <td class="center" [width]="150">
          <img *ngIf="usuario.foto == 0" src="../../../assets/images/profile.png" style="width: 100px;">
          <img *ngIf="usuario.foto == 1" src="{{liga}}/{{usuario.idUsuario}}.jpg" [alt]="liga" style="width: 100px;">
        </td>
        <td class="center">{{ usuario.nombre }}</td>
        <td class="center">{{ usuario.username }}</td>
        <td class="center">{{ usuario.correo }}</td>
        <td class="center">
            <a href="javascript:void(0)" class="modal-trigger" data-target="modalModificarusuario" (click)="modificarUsuario(usuario.idUsuario)">
                <i class="material-icons">edit</i>
            </a>
        </td>
        <td>
          <input type="file" (change)="cargandoImagen($event, usuario.idUsuario)">
        </td>
      </tr>
  </table>
  <div class="row center-align">
      <pagination-controls class="my-pagination" (pageChange)="p = ($event)" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
  </div>
</div>

  <div  id="modalModificarusuario" class="modal" >
    <div class="modal-content">
      <h4>Modificar usuario</h4>
      <div class="row">
        <div class="input-field col s12">
          <label class="active">Nombre </label>
          <input   [(ngModel)]="usuario.nombre"  type="text" class="validate">
        </div>
        <div class="row">
            <div class="input-field col s12">
              <label class="active">Correo </label>
              <input   [(ngModel)]="usuario.correo"  type="text" class="validate">
        </div>
        <div class="row">
            <div class="input-field col s12">
              <label class="active">Nombre de usuario </label>
              <input   [(ngModel)]="usuario.username"  type="text" class="validate">
        </div>        
        <!-- <div class="row">
            <div class="input-field col s12">
              <label class="active">Contraseña </label>
              <input   [(ngModel)]="usuario.password"  type="text" class="validate">
        </div> -->
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1' *ngIf="roles!=undefined">{{rol.nombreRol}}</a>
            <ul id='dropdown1' class='dropdown-content' >
                <li *ngFor="let rol of roles">
                    <a (click)="modificarRol(rol,usuario)">{{rol.nombreRol}}</a>
                </li>
            </ul>

      </div>
      <div class="row">
    </div>
  </div>
    <div class="modal-footer">
        <a class="modal-close btn-flat" (click)="cancelar()">Cancelar</a>
        <a class="btn red darken-2" (click)="eliminarUsuario(usuario.idUsuario)" >Eliminar</a>
        <a class="btn" (click)="guardar()" >Modificar</a>

        <!--Agregar el color justo despues del boton-->
    </div>
  </div>
</div>

