
<div class="contenedor">
    <div>Modify users</div>
<table class="default" *ngIf="usuarios != undefined">
    <tr>
      <th>Name</th>
      <th>Modify data</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let usuario of usuarios">
      <td>{{usuario.nombre}}</td>
      <td><a class="modal-trigger" data-target="modalModificarusuario"  (click)="modificarUsuario(usuario.idUsuario)"><i class="material-icons">edit</i></a></td>
      <td><a ><i class="material-icons" (click)="eliminarUsuario(usuario.idUsuario)">delete</i></a></td>
    </tr>
  
  </table>
  
  <div  id="modalModificarusuario" class="modal" >
    <div class="modal-content">
      <h4>Modify user data</h4>
      <div class="row">
        <div class="input-field col s12">
          <label class="active">Name </label>
          <input   [(ngModel)]="usuario.nombre"  type="text" class="validate">
        </div>
        <div class="row">
            <div class="input-field col s12">
              <label class="active">Email </label>
              <input   [(ngModel)]="usuario.correo"  type="text" class="validate">
        </div>
        <div class="row">
            <div class="input-field col s12">
              <label class="active">Username </label>
              <input   [(ngModel)]="usuario.username"  type="text" class="validate">
        </div>        
        <div class="row">
            <div class="input-field col s12">
              <label class="active">Password </label>
              <input   [(ngModel)]="usuario.password"  type="text" class="validate">
        </div>
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1' *ngIf="roles!=undefined">{{rol.nombreRol}}</a>
            <ul id='dropdown1' class='dropdown-content' >
                <li *ngFor="let rol of roles">
                    <a (click)="modificarRol(rol,usuario)">{{rol.nombreRol}}</a>
                </li>
            </ul>

      </div>
      <div class="row">
    </div>
  </div>
    <div class="modal-footer">
        <a class="modal-close btn-flat" (click)="cancelar()">Cancel</a>
        <a class="btn red darken-2" (click)="eliminarUsuario(usuario.idUsuario)" >Delete</a>
        <a class="btn" (click)="guardar()" >Modify</a>

        <!--Agregar el color justo despues del boton-->
    </div>
  </div>
</div>

