<ul id="dropdown1" class="dropdown-content">
    <li><a href="home/perfil">Mi cuenta</a></li>
    <li><a href="home/usuarioCompras">Mis compras</a></li>
    <li><a (click)="logOut()"> Salir</a></li>
</ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a (click)="Anillos()">Anillos</a></li>
    <li><a (click)="Aretes()">Aretes</a></li>
    <li><a (click)="Arracadas()">Arracadas</a></li>
    <li><a (click)="Esclavas()">Esclavas</a></li>
    <li><a (click)="Dijes()">Dijes</a></li>
    <li><a (click)="Collares()">Collares</a></li>
    <li><a (click)="Todas()">Todas</a></li>
</ul>

<ul id="Categorias" class="dropdown-content" *ngIf="categorias!=undefined">
  <li *ngFor="let categoria of categorias"><a>{{categoria.nombre}}</a></li>
</ul>

  <nav>
    <div class="nav-wrapper">
      <a  class="brand-logo">Joyeria</a>
      <div class="barra">
        <nav>
          <div class="nav-wrapper  ">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
    </div>
    <div class="lateral">
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Categorias<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="home/carrito"><i class="material-icons left">add_shopping_cart</i>Carrito</a></li>
        <li><a ><i class="material-icons left">local_offer</i>Ofertas</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Menú<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
    </div>
  </nav>