<nav >
    <div class="nav-wrapper  teal darken-2"  >
      <a  class="brand-logo">Logo</a>
      <a href="#" class="nombre">Bienvenido {{usuario.nombre}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="pedidos">Pedidos</a></li>
        <li><a href="modificarUsuario">Usuarios</a></li>
        <li><a href="inventario">Inventario</a></li>
        <li><a href="reportes">Reportes</a></li>
        <li><a  (click)="logOut()">Cerrar Sesion</a></li>
      </ul>
    </div>
  </nav>