<nav >
    <div class="nav-wrapper  teal darken-2"  >
      <a  class="brand-logo">Logo</a>
      <a   class="nombre">Welcome {{usuario.nombre}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="control/pedidos">Pedidos</a></li>
        <li><a href="control/modificarUsuario">Users</a></li>
        <li><a href="control/inventario">Inventario</a></li>
        <li><a href="control/reportes">Reportes</a></li>
        <li><a  (click)="logOut()">Close</a></li>
      </ul>
    </div>
  </nav>